.contenedor
{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 200px repeat(4,1fr) 200px;/*evita repetir la cantidad de columnas en que se mide cada grip*/
	grid-template-rows: repeat(3 1fr);
}